.App {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  text-align: center;
}

.gameWrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardWrapper {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.colorCard {
  height: 200px;
  width: 200px;
}

.gameButtonWrapper {
  display: contents;
}

.gameButton {
  position: absolute;
  width: 100px;
  padding: 20px;
  background-color: black;
  border-radius: 50%;
  color: white;
  height: 100px;
  font-size: 25px;
  line-height: 50px;
  border: black;
}

.score {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  line-height: 100px;
  font-size: 50px;
}

.flash {
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
