.gameWrapper {
}

.colorCard {
  height: 200px;
  width: 200px;
}

.flash {
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
